.contacts-container {
  padding: 0 10px 0 40px;
}
.contacts-container h3 {
  font-size: 38px;
}
.contacts-container p {
  font-size: 34px;
  line-height: 99%;
}
.contacts-map {
  height: 100%;
}
.contacts-map iframe {
  min-height: 600px;
}

@media (max-width: 1280px) {
  .contacts-container h3 {
    font-size: 32px;
  }
  .contacts-container p {
    font-size: 28px;
  }
}
@media (max-width: 1020px) {
  .contacts-container {
    padding: 0 80px;
  }
  .contacts-container h3 {
    font-size: 38px;
  }
  .contacts-container p {
    font-size: 34px;
    line-height: 99%;
  }
}
@media (max-width: 620px) {
  .contacts-container {
    padding: 0 40px;
  }
  .contacts-container h3 {
    font-size: 32px;
  }
  .contacts-container p {
    font-size: 28px;
  }
}
@media (max-width: 430px) {
  .contacts-map iframe {
    min-height: 500px;
  }
  .blue-block-right {
    min-height: 0 !important;
  }
  .contacts-container {
    padding: 0 20px;
  }
  .contacts-container h3 {
    font-size: 26px;
  }
  .contacts-container p {
    font-size: 22px;
  }
}
@media (max-width: 360px) {
  .contacts-map iframe {
    min-height: 350px;
  }
  .contacts-container {
    padding: 0 20px;
  }
  .contacts-container h3 {
    font-size: 24px;
  }
  .contacts-container p {
    font-size: 20px;
  }
}
@media (max-width: 300px) {
  .contacts-container {
    padding: 0 20px;
  }
  .contacts-container h3 {
    font-size: 22px;
  }
  .contacts-container p {
    font-size: 18px;
  }
}
