.MobileHeader {
  width: 100%;
  height: 100px;
  background-color: #0f1d89;
  display: flex;
  justify-content: center;
  align-items: center;
}
a:-webkit-any-link {
    color: white !important;
    text-decoration: none !important;
}
.links-box {
  color: white;
  background-color: #0f1d89 !important;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  white-space: unset !important;
  width: 400px;
}
.css-15v22id-MuiAccordionDetails-root {
  padding: 6px !important;
}
.css-1ab2xsx{
  background-color: #0f1d89 !important;
}
.css-pwxzbm{
  background-color: #0f1d89 !important;
}
.css-10hburv-MuiTypography-root {
  font-size: 24px !important;
  line-height: normal !important;
  letter-spacing: normal !important;
}
.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  background-color: #0f1d89 !important;
}
.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root {
  padding-left: 0 !important;
}
.css-i4bv87-MuiSvgIcon-root {
  fill: white !important;
}
.css-1km1ehz{
 white-space: unset !important;
}
#panel1-header {
  background-color: #0f1d89;
  color: white;
  margin-left: 0;
}
.accordionDetails {
  background-color: #0f1d89;
}
.accordionDetails li {
  width: 280px;
}
.accordionDetails li a {
  white-space: normal;
  text-decoration: none;
  color: white;
}
.css-1ujsas3{
    text-transform: none !important;
    padding: 0 !important;
  }
@media (max-width: 800px) {
  .logotype {
    padding-left: 10px;
  }
  .logotype img {
    width: 20%;
  }
  .logo-text {
    width: 300px;
  }
  .logo-h {
    font-size: 18px;
  }
  .logo-h-m {
    font-size: 14px;
  }
}
@media (max-width: 520px) {
  .logotype {
    padding-left: 10px;
    width: 80px;
    height: auto;
  }
  .logotype img {
    width: 100%;
  }
  .logo-text {
    display: none;
  }
}
@media (max-width: 420px) {
  .css-1nu3q13 {
    width: 260px !important;
  }
  .links-box {
    font-size: 12px;
  }
  .accordionDetails li {
    max-width: 250px;
  }
  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  white-space: unset !important;
  width: 250px;
}
}
